<div style="font-family: Roboto">
  {{log products}}

  <h1>Mis productos</h1>
  <div class="container">
    <div class="cardContainerHome">
      {{#each products}}
      {{log this}}
        <div class="card homeCard">
          <div><b>Codigo de producto</b>: {{this.code}}</div><div><b>Producto:</b>
            {{this.title}}</div><div><b>Descripción:</b>
            {{this.description}}</div><div><b>Precio:</b>
            ${{this.price}}</div><div><b>Stock:</b> {{this.stock}}</div>
        </div>
      {{/each}}
    </div>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>